# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/cell_batteries_check_AI/FileContentIndex/876a38b1-8b63-4106-b798-0ca35921286b.vsidx
.vs/
cell_batteries_check_AI/x64/
x64/
cell_batteries_check_AI/Debug/
Lifepo4-Discharge-Model/Debug/
